<header>
  <div class="logoTitle">
    <div class="logo">
      <%= link_to image_tag("colts-logo-2.png"), root_path %>
    </div>
    <h1>Indianapolis Colts</h1>
  </div>
  <nav>
    <ul>
      <li class="nav-link">
        <%= link_to "Players", players_path %>
      </li>
    </ul>
  </nav>
</header>